<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Personalized diffs</h1>
    &nbsp;
    <h4><span id="diff_count" class="badge badge-success">0</span> changed&nbsp;<span
                id="diff_renamed" class="badge badge-danger">0</span> renamed</h4>

    <div class="flex-fill"></div>
    <div class="btn-toolbar mb-2 mb-md-0 ">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" onclick="reload();">
                <span data-feather="refresh-cw"></span>&nbsp;Reload
            </button>
            <button class="btn btn-sm btn-outline-secondary" onclick="markAsRead();">Mark as read</button>
            <button class="btn btn-sm btn-outline-secondary" onclick="downloadDiff();">Download as patch</button>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                Diffs since: <span data-feather="calendar"></span>
                <span id="diff_since"></span>
            </button>
        </div>
    </div>
</div>


<p id="monospace_text" class="text-monospace">
    From: &nbsp;<object id="diff_from_time"></object>
    (
    <object id="diff_from_hash"></object>
    )</br>
    Until:
    <object id="diff_to_time"></object>
    (
    <object id="diff_to_hash"></object>
    )
</p>
<hr/>