<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">No commit available</h1>
    &nbsp;
    <div class="flex-fill"></div>
    <div class="btn-toolbar mb-2 mb-md-0 ">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" onclick="reload();">
                <span data-feather="refresh-cw"></span>&nbsp;Reload
            </button>
        </div>
    </div>
</div>

There is no commit available for the selected repository.

<hr/>