<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Prefix configuration <sup><span id="prefix_count" class="badge badge-secondary">0</span></sup></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary" onclick="import_exportPrefixes();">Import / Export</button>
        </div>
    </div>
</div>

<!-- TODO Remove this when done -->
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Under construction</h4>
    <p>This page is not yet fully functional. To set your prefixes, for the time being, please edit the JSON in the
        <b>Import / Export</b>
        section manually.</p>
</div>
<hr/>
<!-- End section -->

<div id="jstree_prefixes"></div>