body {
    font-size: .875rem;
}

.nav-link {
    cursor: pointer;
}

#monospace_text {
    margin-top: 0;
    margin-bottom: 0;
}

#loading {
    z-index: 1024;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #808080bf;
    padding-top: 50vh;
    padding-left: calc(50vw - 1.5rem);
    padding-right: 0;
}

#loading #spinner_text {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
}

#user_avatar {
    max-width: 2em;
    max-height: 2em;
}

#diff_count {
    font-size: 0.6em;
}

#diff_renamed {
    font-size: 0.6em;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

#go_to_top {
    position: fixed;
    bottom: 0.5rem;
    margin-left: -1.6rem;
    background-color: #f8f9fa !important;
    color: #212529;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 2rem;
    z-index: 1023;


    border-bottom-color: rgba(0, 0, 0, .1);
    border-bottom-right-radius: 3.2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left: none;
    border-right-color: rgba(0, 0, 0, .1);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, .1);
    border-top-right-radius: 3.2px;
    border-top-style: solid;
    border-top-width: 1px;
}

#go_to_top > a {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

/*
* Sidebar
*/

.sidebar {
    position: fixed;
    /*  top: 3.4em;*/
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
